h1  {
    color: lightcoral;
    font-style: oblique;
    font-size: 30px
}
h2  {
    color: dimgrey;
    font-style: normal;
}
.botonera {
    width: 1200px;
    height: 90px;
    background-color: indianred;
}
